body {
    background-color: aquamarine;
    line-height: 1.3;
}

.center {
    text-align: center;
}

h1 {
    border: solid 2px black;
    text-align: center;
    margin: 0 auto;
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 1%;
}

h2 {
    border-bottom: solid 2px black;
    border-left: solid 3px black;
    margin-right: 75%;
    padding-left: 20px;
    font-size: 100%;
}

p {
    font-size: 96%;
}

html {
    width: 98%;
    margin: 0 auto;
}

table {
    width: 100%;
    height: 150px;
    
}

.url {
    width: 20%;
}

td {
    line-height: 200%;
}

p,iframe,table {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.htmlWraper {
    position: relative;
    width: 96%;
    
}

.iframeWrap{
    height: 0;
    padding-bottom: 50%;
    margin-bottom: 5%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
}